<div class="row">
  <div class="col-md-3">
    Color <input class="form-control" (colorPickerChange)="changeColor($event)" [(colorPicker)]="color" />
  </div>
  <div class="col-md-3">
    Rows <input type="number" class="form-control" [ngModel]="rows$.value.length" (ngModelChange)="onRowsUpdated($event)" />
  </div>
  <div class="col-md-3">
    Columns <input type="number" class="form-control" [ngModel]="columns$.value.length" (ngModelChange)="onColumnsUpdated($event)" />
  </div>
  <div class="col-md-3">
      Size <input type="number" class="form-control" [ngModel]="size" (ngModelChange)="changeSize($event)" />
    </div>
  <div class=col-md-3>
    <button (click)="toggleShapes()" class="btn btn-primary">Change Radius</button>
    <br/>
    <button (click)="toggleHorizontalDotMovement()" class="btn btn-primary">Horizontal</button>
    <br/>
    <button (click)="toggleVerticalDotMovement()" class="btn btn-primary">Vertical</button>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-6">
    <span *ngFor="let row of rows$ | async">
      <span *ngFor="let column of columns$ | async">
        <app-block></app-block>
      </span>
      <br />
    </span>
  </div>
  <div class="col-md-6">
    <app-dot></app-dot>
  </div>
</div>
